header {
    background-color: darksalmon;
    padding: 10px;
}

article{
    width: 50%;
}

.content{
    background-color: aqua;
    overflow: auto;
}
.akapit {
    float: left;
    width: 50%;
    background-color: inherit;
}
footer{
    clear: both;
    background-color: darkkhaki;
    text-align: center;
    padding: 2px;
}
img{
    float: left;
    border-style: groove;
    border-color: green;
    border-radius: 30px;
}
#apple{
    float: right;
}