label {
    display: inline-block;
    width: 250px;
    text-align: left;
}
textarea {
    vertical-align:middle;
}

body {
    background-color: #DFEFF0;
}
h1 {
    font-size: 300%;
    font-family: "Times New Roman", Times, serif;
}