figure.header img {
    width: 256px;
    height: 256px;
    transform: rotateZ(16deg) rotateX(50deg) rotateY(-20deg);
    box-shadow: 15px 15px grey;
    border-radius: 5%;
    border-style: solid;
    margin-bottom: 0px;
}

figure.header {
    text-align: center;
}

figure.header figcaption {
    font-size: 30px;
    position: relative;
    bottom: 45px;
    font-family: 'Krub', sans-serif;
}

.gallery {
    width: auto;
    min-width: 100px;
    border: solid;
    clear: none;
}

figure img {
    width: 256px;
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
}

.article {
    width: 80%;
    border: solid;
    column-width: 300px;
    column-count: auto;
}

.inarticle{
    inline-size: 20%;
    float: left;
}

/* font-family: 'Baloo Bhaijaan', cursive; */