figure.header img {
    width: 256px;
    height: 256px;
    transform: rotateZ(16deg) rotateX(50deg) rotateY(-20deg);
    box-shadow: 15px 15px grey;
    border-radius: 5%;
    border-style: solid;
    margin-bottom: 0px;
}

figure.header {
    text-align: center;
}

figure.header figcaption {
    font-size: 30px;
    position: relative;
    bottom: 45px;
}

.gallery {
    width: 20%;
}

img {
    width: 100%;
    height: 100%;
    
}