body {
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
}

.main {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: dashed;
    border-color: black;
}

img {
    border-style: double;
    border-color: darkblue;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

div.header img {
    float: left;
    border: none;
    width: 40px;
    padding-right: 15px;
    padding-top: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

article {
    border-style: ridge;
    margin-left: 100px;
    width: 60%;
    background-color: rgba(222, 184, 135, 0.452);
    padding: 5px;
}

.header {
    overflow: auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
    border-bottom: solid;
    border-left: solid 7px;
}

h1 {
    margin-left: 20px;
    margin-bottom: 0%;
}

a:hover {
    color: orange;
    text-decoration: underline;
}
.footer{
    position: relative;
    left: 20px;
    width: 100%;
    bottom: 0;
    margin-top: 100px;
}