body {
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
}

.main {
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    vertical-align: middle;
    padding-top: 25px;
}

img {
    border-style: solid;
    border-color: darkblue;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}